<p>
    <!-- templating syntax -->
     {%for job in jobs %}

     <div class="container-fluid d-flex align-item-center bg-primary row m-3 p-3 text-white">
      <div class="col-9">
        <h4>{{job['title']}}</h4>
        <div><b>Location :</b> {{job['location']}}</div>
        <div><b>Salary :</b> {{job['Salary']}}</div> 
      </div>

      <div class="col-3 d-flex align-items-center ">
        <button class="btn btn-outline-dark"> Apply </button>
      </div>
      
    </div>

     {% endfor %}
  </p>